$base-color: antiquewhite;
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
.Navbar {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.7rem;
  transition: top 0.6s;
  z-index: 998;
  font-family: 'Cormorant Garamond', serif;
  &_hidden {
    top: -80px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
   
  &__logo{
    display: block;
    width: 400px;

  }
  &__logo-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 960px) {
      display: none;
    }
   
  }
  &__logo-border{
    padding-left: 150px;
    padding-right: 150px;
    border-bottom: 1px solid #aaa;
  }

  &__title {
    display: block;
    cursor: pointer;
    color: #403F41;
    text-shadow: 2px 2px #403F41;
    padding-left: 1rem;
    border-bottom: 1px solid #aaa;
  }

  &__nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    list-style: none;
    text-align: center;
    width: 100vw;
    justify-content: center;
    margin-right: 2rem;
  }

  &__nav-item {
    height: 80px;
  }
  &__nav-links {
    color: #403F41;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    cursor: pointer;
    &:hover {
      border-bottom: 4px solid #aaa;
      transition: all 0.2s ease-out;
    }

    .fa-bars {
      color: #fff;
    }
  }
  &__menu-button {
    display: none;
  }
  @media screen and (max-width: 960px) {
    &__nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
    &__nav-menu_active {
      background: #555353;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    &__nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
      color: #c2c2c2
    }
    &__nav-links:hover {
      background-color: #fff;
      color: #c2c2c2;
      border-radius: 0;
    }
    &__navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
    &__menu-button {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.6rem;
      cursor: pointer;
      z-index: 999;
    }
    &__icon{
      width: 50px;
      height: 50px;
    }
    &__icon-close{
      width: 50px;
      height: 50px;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;

    }
  
    &__nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    &__nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }
  &__flags{
    cursor: pointer;
  }
}

.scroll-up{
  z-index: 999;
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: height ease 1s;
  .fa-arrow-up{
    font-size: 2.5rem;
  }
}
